
.side_board{
    height: 100vh;
    background: linear-gradient(70deg, rgb(69, 51, 81), rgb(91, 57, 62));
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
aside {
    display: contents;
}
.btn_block{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10%;
    margin-top: 20px;
}
.reg_btn{
    width: 50%;
    font-size: 85%;

}
.registration{
    width: 100%;
    border-top: 3px solid #e9e6e6;
}
.aside{
    display: flex;
    flex-direction: column;
}
.logo{
    width: 40% ;
    height: 50% ;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 20px;
}
.logo_block{
    border-bottom: 3px solid #e9e6e6;
}
.dialogs_window{
    width: 76%;
    height: 80%;
    margin: 0 auto;
    background-color: #c3bdbd;
    border-radius: 2%;
    margin-bottom: 10px;
    margin-top: 10px;
    overflow: scroll;
    overflow-x: hidden;
}
.dialogs{
    height: 100%;
    display: flex;
    justify-content: center;
}
.dialogs_name{
    font-size: 160%;
    color: #c3bdbd;
    font-weight: 700;
}
.add_btn{
    width: 90%;
    margin-left: 5px;
    margin-top: 5px;
    background-color: rgb(235, 164, 164);
    border: none;
    border-radius: 2px;
    font-size: 20px;
    transition: 0.1s;
}
.add_btn:hover{
    cursor: pointer;
    transform: scale(1.02);
}
