.ai_text_block{
    width: 90% ;
    margin-top: 10px ;
    background-color: rgb(176, 154, 154);
    height: min-content;
    border-radius: 6%;
    display: flex;
    margin-left: 5%;

}
.ai{
    display: flex;
    margin-bottom: 10px;
}
.ai_ava{
    width: 40px;
    height: 40px;
    background-color: rgb(127, 127, 216);
    border-radius: 50%;
    margin-left: 12px;
    margin-right: 3px;
}
.ai_ava_block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.user_ava{
    width: 40px;
    height: 40px;
    background-color: gray;
    border-radius: 50%;
    margin-left: 12px;
    margin-right: 3px;
}